<h2>Edit Password</h2>
<center>
<div id='staffApplication'>
	<%= form_for @profile do |f| %>
		<div><b> New Password :</b> <%= f.password_field :password %></div>
		<div><b> New Confirmation Password :</b> <%= f.password_field :password_confirmation %></div>
		<div><input type='reset'/><%= f.submit %></div>
	<% end %>
</div>
</center>