<h2>Edit Manager Profile</h2>
<center>
<div id='staffApplication'>
	<%= form_for @profile\ do |f| %>
		<div><b>Name :</b> <%= f.text_field :manager_name %></div>
		<div><b>Mobile No :</b> <%= f.text_field :manager_phone %></div>
		<div><input type='reset'/><%= f.submit %></div>
	<% end %>
</div>
</center>