<div class="form_container">

  
 <div class="form_header_div">
    <h1>Date</h1>
    <div class="csslisting">    
      <div class="form_text_box">
        <%= text_field 'leave_application', 'start_date' %>
        <%= text_field 'leave_application', 'end_date' %>
        
      </div>
    </div>
  </div>
</div>
<div class="form_header_div">
    <h1>Reason</h1>
    <div class="csslisting">    
      <div class="form_text_box">
        <%= text_area 'leave_application', 'reason' %>
      </div>
    </div>
  </div>
</div>

