<table border="1">
	<tr>
		<h1>Submitted applications</h1>
		<th>No</th>
			<th>ID</th>
			<th>Date submitted</th>
			<th>Status</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		

	</table>