<h1>Welcome to the staffs panel</h1>
<p>Welcome ,<b><%= current_staff.staff_name %></b>.Page is still under construction</p>
<center>
<th>
	</th>
	<table border='1'>
	<tr>
		<h2>Unsubmitted applications</h2>
		<th>No</th>
			<th>ID</th>
			<th>Reason</th>
			<th>Status</th>
		</tr>
		<% @leaveApplications.each do |leaveApplication|  %>
		<tr>
			<td></td>
			<td><%=link_to leaveApplication.id, show_application_staff_panel_path(leaveApplication.id) %></td>
			<td><%=leaveApplication.reason %></td>
			<th><%=leaveApplication.status %></th>
		</tr>
	<%end%>
	</table>
	</center>