<h1>Welcome to the staffs panel</h1>
<p>Welcome ,<b><%= current_staff.staff_name %></b>.Page is still under construction</p>
<th>
	</th>
	<table border="1">
	<tr>
		<h1>Unsubmitted applications</h1>
		<th>No</th>
			<th>ID</th>
			<th>Status</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>

	</table>