 <div class="csslisting">
      <table cellpadding="5" cellspacing="0">
        <tr> 
          <th>No</th>
          <th>ID</th>
          <th>Date submitted</th>
          <th>Status</th>
        </tr>
        <%= link_to 'Edit' %>
        <%= link_to 'Submit' %>
        <%= link_to 'Back',:back %>
    </div>