<center>

<h1>Registration</h1>
<h3>Select Role</h3>


<select id="mySelect" onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}"> 

	<option value="http://localhost:3000/admin_panel/new">Please Select</option>
	<option value="http://localhost:3000/staffs/sign_up">Employee</option> 
	<option value="http://localhost:3000/managers/sign_up">Manager</option> 
	<option value="http://localhost:3000/managements/sign_up">Management</option> 

</select>

<br><br>

<%= link_to 'Back', admin_panel_index_path %>

</center>