<h1>Registeration</h1>

<br>
<%= link_to 'Back', admin_panel_index_path %>
<br><br>

<%= link_to 'Employee' , new_staff_registration_path %> |
<%= link_to 'Manager' , new_manager_registration_path %> | 
<%= link_to 'Management' , new_management_registration_path %>